[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/firesim/riscv-linux.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/farzadfch/riscv-pk.git
[submodule "br/buildroot"]
	path = wlutil/br/buildroot
	url = https://github.com/farzadfch/buildroot.git
[submodule "workloads/farzad"]
	path = workloads/farzad
	url = https://github.com/farzadfch/firesim-workload
